*{
    background-color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

 #título-principal{
    color:rgb(110, 235, 9);
    background-color: blue;
 }


#teste-1{
    color: brown;
    background-color: violet;
}

p{
    text-align: justify;
    margin: 25px;
    color: aliceblue;
    
}

